body {
    font-family:'Mulish',Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
}

ul {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
    float: left;
    padding-right: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.28;
    color: #1F1534;
    opacity: 0.5;

}
li:last-of-type {
    margin-right: 0;
}
.activelink {
    font-weight: 700;
    color: #1F1534;;
    opacity: 1;
}

a {
    text-decoration: none;

}


header {
    width: 1217px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px;
    padding-bottom: 80px;
}

* {
    box-sizing: border-box;
}
nav {
    float: right;
    padding-top: 12px;
}

.logo {
    float: left;
}

.logo span {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    color: #233348;
    float: right;
    padding-top: 5px;

}

.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

img {
    float: left;
    margin-right: 12px;
}

